body{
   background-color: hsl(257, 40%, 49%);
   position: relative;
}
.ime{
   position: absolute;
   height: 100%;
   left: 50%;
   transform: translate(-55%);
}
section h1{
   font-family: sans-serif;
   font-size: 45px;
}

section button{
   width: 200px;
   height: 50px;
   line-height: 50px;
   border: none;
   outline: none;
   font-weight: bold;
   color: hsl(257, 40%, 49%);
   box-shadow: 6px 5px 15px -7px black;
   transition: all .5s;
}
section button:hover{
   background: hsl(257, 40%, 49%);
   color: #fff;
}

body ul {
   position: absolute;
   bottom: 25px;
   right: 85px;
}

body ul li {
   font-size: 20px;
   width: 45px;
   height: 45px;
   border: 2px solid #fff;
   text-align: center;
   padding-top: 12px;
   border-radius: 50%;
   cursor: pointer;
}

body ul li a:hover{
   color:#fff;
   cursor: pointer;
}

.attribution { font-size: 14px; text-align: center;margin: 0px; }
.attribution a { color: #ffc107; }

@media (max-width:990px){
   .ime{
      height: auto;
      width: 100% !important;
      transform: translate(-50%);
   }
   section h1{
      font-size: 40px;
      padding-top: 30px;
   }
   body .ime:first-of-type{
      display: none !important;
   }
   body .ime:last-of-type{
      display: block !important;
   }
   .cont {
      text-align: center
   }
   .lis ul{
      position: static;
   }
}